@page
@model DisasterAlleviationFoundation_Mark2_.Pages.Purchases.InventoryModel
@{
}

<br>
<h1>Goods Inventory</h1>
<a class="btn btn-warning btn-sm" href='Purchases/AllocateGoods'>Allocate From Inventory</a>
<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Amount</th>

        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Pages.Goods_Donations.goods.qty</td>
                <td>@Pages.Monetary_Donations.monetary.total</td>
            </tr>
        
    </tbody>
</table>

