@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Disaster AlleviFoundation</h1>
    <p>Help us by helping those in need</p>
</div>
