@page
@model DisasterAlleviationFoundation_Mark2_.Pages.Users.LoginModel
@{
}

<br />
<h1> User Login</h1>

@if (Model.err.Length > 0)
{
    <div class=" alert alert-warning alert-danger fade show" role="alert">
        <strong>@Model.err</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="post">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="email" value="@Model.users.email" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password:</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" value="@Model.users.Upassword" />
        </div>
    </div>


    @if (Model.succ.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class=" alert alert-success fade show" role="alert">
                    <strong>@Model.succ</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-warning">Login</button>
        </div>

        <div class="offset-sm-3 col-sm-3 d-grid">
            <a class="btn btn-outline-warning" asp-page="Login" role="button">Register</a>
        </div>

</form>
